@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

a.active {
  color: #2B7FFF;
}

.rounded-b-6xl {
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
}


.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.no-scrollbar:-webkit-scrollbar {
  display: none;
}

.text-blue-800 {
  color: #004688;
}

.text-blue-600 {
  color: #004688;
}

.border-blue-800 {
  color: #004688;
}

.rounded-br-5xl {
  border-bottom-right-radius: 5rem
    /* 2rem = 32px */
  ;
}

.rounded-t-5xl {
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}